---
name: Publish npm package (npm.pkg.github.com)

on:
  release:
    types:
      - created

jobs:
  publish-github:
    if: github.repository_owner == 'bitpatty'
    name: Publish NPM package (GitHub Registry)
    runs-on: ubuntu-latest
    environment: github-registry
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18.4.0'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@bitpatty'
      - run: npm install
      - run: npm run build
      - run: echo "registry=https://npm.pkg.github.com/@bitpatty" >> .npmrc
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
